@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Serif;
}
.nav-item{
    @apply
    float-right
    h-[100%]
    bg-purple4
    inline-block
    p-7
    hover:bg-purple5
    transition-all
    duration-150
    cursor-pointer
    border-b-0
    hover:border-b-4
    hover:border-white
    text-white
    text-[28px]
}

.table-item-th
{
    @apply
    border-r-4
    border-purple2
    text-white
    text-[28px]
}

.table-item-td
{
    @apply
    border-r-4
    border-t-4
    border-purple2
    text-white
    /*text-[25px]*/
    max-w-10
    break-words
    whitespace-normal
    max-h-[30px]
    overflow-auto
    sm:text-[16px]
    md:text-[17px]
    lg:text-[19px]
    xl:text-[21px]
    2xl:text-[24px]
}
.create-table-input
{
    @apply
    h-12 w-[250px]
    text-center
    font-serif
    text-[22px]
    rounded-[10px]
    ml-6
    outline-none
    mr-6
}
.create-table-button
{
    @apply
    h-12 w-[150px]
    bg-purple5
    rounded-[10px]
    text-white
    hover:bg-purple2
    transition-all
    focus:bg-purple4
    mt-3
}
.error
{
    @apply
    text-red-600
    bg-purple1
    w-[75%]
    mx-[15%]
    rounded-[10px]
    text-center
    text-[18px]
}
